@import "config";
@import "menu";

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: $primary-font-family;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  &.lg-heading {
    font-size: 4rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.5rem 0 0.5rem 0;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  // so it stays when scrolling
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  padding: 4rem;
  // viewport height - footer
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 2rem;
    a {
      color: set-text-color($primary-color);
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  // Contact Page
  .boxes {
    display: flex;
    // when the view gets too small
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
      // style the individual divs here
      @include easeOut;

      &:hover {
      }
    }
  }

  &#home {
    // never have a scrollbar
    overflow: hidden;
    h1 {
      margin-top: 20vh; //viewport height
    }
    h2 {
      display: block;
      width: fit-content;
      position: relative;
      color: transparent;
      animation: text-reveal 0.5s ease forwards;
      animation-delay: 1.5s;
    }
    h2 span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background-color: $secondary-color;
      animation: text-reveal-box 1s ease;
      animation-delay: 1s;
    }

    .cta {
      display: inline-block;
      padding: 10px 30px;
      color: $secondary-color;
      background-color: transparent;
      border: 2px solid $secondary-color;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      @include easeOut;

      &:hover {
        color: white;
        background-color: $secondary-color;
        @include easeOut();
      }
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 5px solid;
  }

  .bio {
    background: $primary-color;
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .techstack-boxes {
    }
  }
}

//Work/Projects
.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);

  img {
    width: 100%;
    border: 3px set-text-color($primary-color) solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }

  .icons {
    margin-top: 0px;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
